<footer id="footer">
<div class="container">
  <div class="row">
    <div class="col-md-4 col-12">
      <h3>Contact With Me</h3>
      <p>{{ 'ezz.magdy30@gmail.com' }}</p>

    </div>
    <div class="col-md-4 col-12">
      <a href="#hero" class="button">Back to Top</a>
    </div>
    <div class="col-md-4 col-12">
        <a href="https://www.linkedin.com/in/ezzeldien-magdy-89b788282/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Ezzeldien-M-Abdalaziz"><i class="fab fa-github"></i></a>
        <i class="fab fa-twitter"></i>
        <p>Made by Ezzeldien</p>
    </div>
  </div>
</div>
</footer>
