<section>
  <div class="container">
    <h1 class="text-center">Skills</h1>
    <p class="text-center">
      I excel in communication, both verbal and written, which allows me to
      effectively collaborate with colleagues and clearly articulate ideas and
      solutions. My strong problem-solving skills enable me to tackle challenges
      creatively and efficiently, while my adaptability helps me thrive in
      dynamic environments. I manage my time effectively to meet deadlines and
      maintain productivity. As a team player and leader, I contribute
      positively to team dynamics, guide projects to success, and mentor others.
      My empathy and creativity further enhance my ability to build supportive
      relationships and approach problems with innovative solutions.
    </p>

    <div class="row text-center">
      <div class="col-md-5 col-12 left">
        <h2>Soft Skills</h2>
        <div class="soft">
          <p>Effective Communication</p>
          <p>Team Collaboration</p>
          <p>Problem Solving</p>
          <p>Adaptability</p>
        </div>
      </div>


      <div class="col-md-7 col-12">
        <div class="skills">
          <div class="skill">
            <div class="skill-name">C++</div>
            <div class="skill-bar">
              <div class="skill-level" style="width: 90%;"></div>
            </div>
          </div>
          <div class="skill">
            <div class="skill-name">PHP</div>
            <div class="skill-bar">
              <div class="skill-level" style="width: 80%;"></div>
            </div>
          </div>
          <div class="skill">
            <div class="skill-name">JavaScript</div>
            <div class="skill-bar">
              <div class="skill-level" style="width: 90%;"></div>
            </div>
          </div>
          <div class="skill">
            <div class="skill-name">Node.JS</div>
            <div class="skill-bar">
              <div class="skill-level" style="width: 80%;"></div>
            </div>
          </div>
          <div class="skill">
            <div class="skill-name">HTML</div>
            <div class="skill-bar">
              <div class="skill-level" style="width: 90%;"></div>
            </div>
          </div>
          <div class="skill">
            <div class="skill-name">CSS</div>
            <div class="skill-bar">
              <div class="skill-level" style="width: 90%;"></div>
            </div>
          </div>
          <div class="skill">
            <div class="skill-name">SQL</div>
            <div class="skill-bar">
              <div class="skill-level" style="width: 80%;"></div>
            </div>
          </div>
          <div class="skill">
            <div class="skill-name">MongoDB</div>
            <div class="skill-bar">
              <div class="skill-level" style="width: 70%;"></div>
            </div>
          </div>
          <div class="skill">
            <div class="skill-name">Angular</div>
            <div class="skill-bar">
              <div class="skill-level" style="width: 70%;"></div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
