.bg-image {
  background-image: url(../assests/imgs/flat-lay-desk-concept-with-copy-space.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.details {
  top: 40%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  text-align: center;
  h1{
    font-size: 80px;
  }
  h3{
    font-size: 40px;
  }
  a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 15px 50px;
    display: inline-block;
    margin: 50px 0;
    transition: .3s;
    font-weight: bold;
    &:hover{
      background-color: white;
      color: black;
    }
  }
}
