<div class="container text-center mt-5 mb-5">
<div class="row justify-content-md-center">
  <div class="col-md-4 col-12">
    <h1>about me</h1>
  </div>

  <div class="col-md-8 col-12">
    <p>Hello! I’m Ezzeldien Magdy, a passionate Software Developer with a keen interest in creating innovative and efficient solutions. With a strong foundation in programming and a constant desire to learn and adapt to new technologies, I strive to deliver high-quality software that meets users' needs. My goal is to leverage my skills to contribute to impactful projects and continuously grow in the field of software development.</p>
    <a href="assets/resume.pdf" download="My_Resume.pdf">Download Resume.</a>
  </div>

</div>
</div>
